<div class="container text-right">
    <button class="btn btn-primary" (click)="showModal(mymodal)">Add user</button>
</div>
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th >#</th>
            <th >Name</th>
            <th >UserName</th>
            <th >Email</th>
            <th >Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users;let i=index">
            <td>{{i+1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>
                <button class="btn btn-info" (click)="showModal(mymodal,user)">Détail</button>
                <button style="margin-left: 5px;" class="btn btn-warning" (click)="showModal(mymodal,user,true)">Modifier</button>
            </td>
          </tr>
         
        </tbody>
      </table>
</div>
   
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <strong>Name:</strong> 
    <input type="text" [disabled]="!lockFields" class="form-control" [(ngModel)]="currentUser.name"> 
    <br>
    <strong>UserName:</strong>
    <input type="text" [disabled]="!lockFields" class="form-control" [(ngModel)]="currentUser.username">
    <br>
    <strong>Email:</strong>
    <input type="text" [disabled]="!lockFields" class="form-control" [(ngModel)]="currentUser.email">

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fermer</button>
    <button *ngIf="lockFields" type="button" class="btn btn-outline-dark" (click)="saveUser(currentUser)">Enregistrer</button>

  </div>
</ng-template>
